*{
    padding: 0;
    margin: 0;
    background-color: none;
    color: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}

.todo-container{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 400px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

/* .todo-container > h1{
    text-align: center;
} */

.todo-container > .inputs > #input{
    width: 60%;
    border-color: crimson;
    font-family: sans-serif;
    color: crimson;
    padding: 9px;
    border-radius: 15px;
    outline: none;
}

.todo-container > .inputs > .btn{
    padding: 9px 15px;
    border: none;
    border-radius: 15px;
    background-color: crimson;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.remove-btn:hover {
    background-color: rgb(129, 171, 208);
}

.remove-btn{
    padding: 9px 15px;
    border: none;
    border-radius: 15px;
    background-color: crimson;
    cursor: pointer;
    color: white;
}

li {
    background-color: #d9c4c4 ;
    border: 1px solid #ddd;
    padding: 9px;
    margin-bottom: 5px;
    margin-top: 5px;
    list-style-type: none;
    font-family: sans-serif;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: backgroung-color 0.3s;
    width: 300px;
}


